<div class="divide30"></div>
<!--<div class="container">-->
<footer class="bottom-theme">
  <div class="inner row">
    <div class="col-xs-10 col-xs-offset-1">
      Tell Me Party &middot; Lynette C. &middot;  phone: xx xxxx xxxx &middot; email: xxxxxxxxx@xxxx.au &middot; Brisbane &middot; Qld 34533
    </div>
  </div>
</footer>
<!--</div>-->
