<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <img src="../../assets/background21.jpg" width="100%">
    </div>
  </div>
  <div class="divide30"></div>
  <div class="divide30"></div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="headline">
        <h2>About</h2>
      </div>
      <div class="col-md-7">
        <div class="col-xs-12">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni vero libero debitis eum deleniti minus harum, nisi quam reiciendis nam. Quis sequi aut eos, voluptatum maxime temporibus distinctio quidem odit?
          <br><br>
        </div>
        <div class="col-xs-12">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni vero libero debitis eum deleniti minus harum, nisi quam reiciendis nam. Quis sequi aut eos, voluptatum maxime temporibus distinctio quidem odit?
        <br><br>
        </div>
        <br><br>
        <div class="col-xs-12">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni vero libero debitis eum deleniti minus harum, nisi quam reiciendis nam. Quis sequi aut eos, voluptatum maxime temporibus distinctio quidem odit?
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <img src="http://lorempixel.com/200/200/people" class="img-circle" alt="Cinque Terre" width="200" height="200">
      </div>
      <div class="divide30"></div>
      <div class="divide30"></div>
    </div>
  </div>
</div>
