.block {
    /* position: relative;
    top: 0px;
    z-index: 999;
    border: 1px solid red; */
    /* height: 500px; */
}

.navbar-toggle .icon-bar {
    background-color: black !important
}

.navbar-brand {
    margin-inline: 1rem;
}

@media screen and (min-width: 768px) {
    #menuButton {
        display: none;
    }

    #collapseNav {
        display: block !important;
    }
}

/*navbar general styling:*/
/* .navbar .navbar-nav {
    margin-top: 25px;
    margin-right: 60px;
    padding-bottom: 30px;
    height: 100px;
    width: 500px;
    display: flex;
    border: 1px solid red;
} */

.navbar-nav > li > a {
    padding: 10px 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 100px;
    text-transform: uppercase;  
    background-color: transparent;
    outline:none !important;
}



/*navbar light-theme:*/
.light {
    color: #fff;
    color: #434343 !important;
    background-color: transparent;
    z-index: 9999999;
}
.light .navbar-nav > li > a {
    color: #fff;
    z-index: 9999999;
}

@media screen and (max-width: 768px) {
    .navbar-nav > li > a {
        padding-bottom: 20px;
        color: black !important;
        background-color: white;
    }
    .navbar-nav > li > a:hover {
        color: #45be84 !important;
    }
}

/*navbar dark-theme*/
.navbar-fixed-top {
    position: fixed;
    top: 0px;
}

.dark {
    color: black !important;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 9999999;
    transition: all 150ms ease-in;
}
.dark .navbar-nav > li > a {
    /*color: #434343;*/
    color: black;
    transition: all 150ms ease-in;
}

.dark .navbar-nav > li > a:hover {
    color: #45be84 !important;
}


