<div *ngIf="fixNavbar" class="block"></div>

<nav  
  [ngClass]="{ 'light': lightTheme, 'dark': !lightTheme , 'navbar-fixed-top': fixNavbar}" 
  class="navbar">
  <button type="button" id="menuButton" class="navbar-toggle" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseNav">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar">-</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-header">
    <a 
      class="navbar-brand" 
      routerLink="home" 
      (click)="setStatus('home')">
      <img src="../../assets/logo.png" alt="Fun Pyshic Parties">
      </a>
    <br>
  </div>
  
  <div id="collapseNav" [ngbCollapse]="isCollapsed" >
      <ul class=" navbar-nav">
        <li><a 
          routerLink="home" 
          (click)="setStatus('home')">
          home</a>
        </li>
        <li><a 
          routerLink="about" 
          (click)="setStatus('about')">
          about</a>
        </li>
        <li><a
        routerLink="contact"
        (click)="setStatus('contact')">
        contact</a>
        </li>
      </ul>
  </div>
</nav>
