 <div class="container">
   <div class="row">
     <div class="headline">
        <h2>Contact</h2>
    </div>
     <div class="col-md-7">
       <div class="panel panel-default">
        <form>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="message">Your message:</label>
            <textarea class="form-control" rows="5" id="mess"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
       </div>
     </div>
     <div class="col-md-4 col-md-offset-1">
       <div class="panel panel-default">
         <label>Lynette C</label><br>
         <label>phone:</label> xx xxxx xxxx<br>
         <label>email:</label> xxxxxxx@xxxx.au


       </div>
     </div>
   </div>
 </div>
  