body {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #757575;
    font-family: 'Lato', sans-serif; 
    background: #fdfdfd;
    background: #f9f9f9;
    overflow: auto;
}


.headline > h2 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    color: #434343;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.headline > p {
    color: rgb(153, 153, 153);
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 26.6px;
}

.text {
    color: rgb(117, 117, 117);
    font-size: 15px;
}

.divide30 {
    height: 30px;
}

