<div class="containter">
  <div class="row">
    <div class="col-xs-12 image">
      <div class="box">
      <img src="../../assets/background11.png" width="100%">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="headline text-center">
        <h2>Psychic Parties in West End, Brisbane</h2>
        <p>Lynette C</p>
      </div>
      <div class="row text">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="divide30"></div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Rerum dicta, molestiae, soluta minima, distinctio inventore aspernatur 
               nisi aliquid quasi ratione quaerat est neque incidunt labore quibusdam, 
               obcaecati delectus fugiat itaque.</div>
            <div class="divide30"></div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Rerum dicta, molestiae, soluta minima, distinctio inventore aspernatur 
              nisi aliquid quasi ratione quaerat est neque incidunt labore quibusdam, 
              obcaecati delectus fugiat itaque.</div>
            <div class="divide30"></div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Rerum dicta, molestiae, soluta minima, distinctio inventore aspernatur nisi
               aliquid quasi ratione quaerat est neque incidunt labore quibusdam, 
               obcaecati delectus fugiat itaque.</div>
               <div class="divide30"></div>
               <div class="divide30"></div>
          </div>
      </div>
    </div>
  </div>
</div>

